Packs/soc-framework-nist-ir/Playbooks/SOC_EndPoint_Analysis_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC EndPoint Analysis_V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.4.5
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: SOC EndPoint Analysis_V3
description: |-
  This is the analyst’s core domain.

  Key tasks:

  Investigate alerts and anomalies.

  Validate true/false positives.

  Perform triage, correlation, and root cause analysis.

  Classify the alert (category, severity, impact).

  Document findings and escalate confirmed alerts.

  Outcome: Determine whether an event is a legitimate alert and assess its scope.

  This phase measures alert fidelity, investigation efficiency, and time to validate — all analyst performance metrics.
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 27ca4564-aefc-483e-8598-fa04dbefbf2e
    type: start
    task:
      id: 27ca4564-aefc-483e-8598-fa04dbefbf2e
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "59"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: eacb150f-a5d1-4b77-8945-e7f68a68424d
    type: title
    task:
      id: eacb150f-a5d1-4b77-8945-e7f68a68424d
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: dfb1f62b-258e-4e82-8f1c-b14f17ea13e4
    type: title
    task:
      id: dfb1f62b-258e-4e82-8f1c-b14f17ea13e4
      version: -1
      name: Define Attack Vector
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "66"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 61337536-2acd-4281-af6c-6da3a9a6ec8c
    type: title
    task:
      id: 61337536-2acd-4281-af6c-6da3a9a6ec8c
      version: -1
      name: Investigate Artifacts
      description: |-
        This captures:
        WildFire Malware
        Malware Activity
        Known Malicious File
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "72"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 1e3625cf-1808-4765-8323-46f42118c05d
    type: title
    task:
      id: 1e3625cf-1808-4765-8323-46f42118c05d
      version: -1
      name: Make Recommendations
      description: |-
        What should an analysis or automation do?
        What is our level of confidence?
        i.e. Is Containment Justified?
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "41"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: bffb3c22-b13a-429e-8695-b7c4c8f68abe
    type: condition
    task:
      id: bffb3c22-b13a-429e-8695-b7c4c8f68abe
      version: -1
      name: Analysis Confidence
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "44"
      high:
      - "42"
      medium:
      - "43"
    separatecontext: false
    conditions:
    - label: high
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Endpoint.compromise_level
            iscontext: true
          right:
            value:
              simple: likely_compromised
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Endpoint.spread_level
            iscontext: true
          right:
            value:
              simple: multi_entity
        - operator: greaterThanOrEqual
          left:
            value:
              simple: Analysis.Endpoint.issue_count
            iscontext: true
          right:
            value:
              simple: "3"
        - operator: isEqualString
          left:
            value:
              simple: Analysis.Endpoint.compromise_decision
            iscontext: true
          right:
            value:
              simple: malicious_and_executed
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Analysis.Endpoint.issue_count
            iscontext: true
          right:
            value:
              simple: "10"
    - label: medium
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Endpoint.compromise_level
            iscontext: true
          right:
            value:
              simple: suspicious
        - operator: greaterThanOrEqual
          left:
            value:
              simple: ${Analysis.Endpoint.issue_count}
            iscontext: true
          right:
            value:
              simple: inputs.host_high_issue_count
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: 03ffec5b-25f2-4610-816b-e988acd1c518
    type: regular
    task:
      id: 03ffec5b-25f2-4610-816b-e988acd1c518
      version: -1
      name: Investigation Confidence High
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.confidence
      value:
        simple: high
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2705
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "43":
    id: "43"
    taskid: 0f08ef52-69b0-4947-8550-0ed220208608
    type: regular
    task:
      id: 0f08ef52-69b0-4947-8550-0ed220208608
      version: -1
      name: Investigation Confidence Medium
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.confidence
      value:
        simple: medium
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2705
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 4b9c3d18-0eb9-4193-82e4-144f9cf2f714
    type: regular
    task:
      id: 4b9c3d18-0eb9-4193-82e4-144f9cf2f714
      version: -1
      name: Investigation Confidence Low
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "46"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.confidence
      value:
        simple: low
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2705
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 369b4d28-ffb1-40f8-88cf-dd311fda4b65
    type: regular
    task:
      id: 369b4d28-ffb1-40f8-88cf-dd311fda4b65
      version: -1
      name: Analysis Response Recommended
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "74"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.response_recommended
      value:
        simple: "true"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: 2804eb79-4c2d-4438-8d29-214a78cbcf92
    type: regular
    task:
      id: 2804eb79-4c2d-4438-8d29-214a78cbcf92
      version: -1
      name: Analysis Response NOT Recommended
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "74"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.response_recommended
      value:
        simple: "false"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
    type: title
    task:
      id: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
      version: -1
      name: Evaluate Spread Level
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "71"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: 83d2afba-5835-433d-8516-ca98aa42357d
    type: title
    task:
      id: 83d2afba-5835-433d-8516-ca98aa42357d
      version: -1
      name: Preparation
      description: Clean Out Keys for the Investigation and Analysis
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "65"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 7a1fb408-753f-4af3-ab79-f8e46d372eab
    type: playbook
    task:
      id: 7a1fb408-753f-4af3-ab79-f8e46d372eab
      version: -1
      name: SOC Initialize Investigation Context
      description: Clean up the data context and prepare to perform the investigation.
      playbookName: SOC Initialize Investigation Context_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      case_host_count:
        simple: ${parentIncidentFields.host_count}
      case_issue_count:
        simple: ${parentIncidentFields.alert_count}
      case_score:
        simple: ${parentIncidentFields.predicted_score}
      case_user_count:
        simple: ${parentIncidentFields.user_count}
      reset_issue_keys:
        simple: Investigation, Analysis, Containment, Eradication, Recovery
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: e6069e69-8290-4781-aa2b-5a843821676d
    type: playbook
    task:
      id: e6069e69-8290-4781-aa2b-5a843821676d
      version: -1
      name: SOC Endpoint Signal Characterization_V3
      description: "Purpose\nDetermine what type of endpoint behavior this is.\nThis
        is not attack vector.\nThis is behavioral class.\nCurrent Tasks:\n\nDefine
        Attack Vector\nIs Malware? \nIs Injection / Shellcode? \nDoes CGO CMD Exist?
        \nSet Endpoint Path "
      playbookName: SOC Endpoint Signal Characterization_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      case_name:
        complex:
          root: issue
          accessor: name
          transformers:
          - operator: toLowerCase
      cgo_name:
        simple: ${SOCFramework.Artifacts.Process.CommandLine}
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: bf19e707-75b4-455c-b713-3ccd9731a059
    type: title
    task:
      id: bf19e707-75b4-455c-b713-3ccd9731a059
      version: -1
      name: Investigate Case & Issues
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "73"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1285
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: ae300369-1218-4032-9c7d-ac5837a06f8c
    type: playbook
    task:
      id: ae300369-1218-4032-9c7d-ac5837a06f8c
      version: -1
      name: SOC EndPoint Spread Evaluation_V3
      playbookName: SOC EndPoint Spread Evaluation_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "75"
    scriptarguments:
      SHA256:
        simple: ${SOCFramework.Artifacts.Target.SHA256}
      case_host_count:
        simple: ${Analysis.Endpoint.host_count}
      case_tactics:
        simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
      case_user_count:
        simple: ${Analysis.Endpoint.user_count}
      high_hash_count_per_case:
        simple: "3"
      high_host_count_per_case:
        simple: "3"
      limited_hash_count_per_case:
        simple: "2"
      limited_host_count_per_case:
        simple: "2"
      limited_user_count_per_case:
        simple: "2"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: 5502afb5-7005-4ebf-a246-509c3be1a3e4
    type: playbook
    task:
      id: 5502afb5-7005-4ebf-a246-509c3be1a3e4
      version: -1
      name: SOC Endpoint Verdict Resolution_V3
      description: "Purpose: Is the artifact malicious, suspicious, benign, or unknown?\n\nCurrent
        Tasks\nWhat is Current File Verdict \nCan We Get the Verdict\nWildFire Detonate
        \nDBot Score \nDoes DBot Think It’s Malicious? \nSet Verdict "
      playbookName: SOC Endpoint Verdict Resolution_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "69"
    scriptarguments:
      SHA256:
        simple: ${SOCFramework.Artifacts.Target.SHA256}
      verdict:
        simple: ${SOCFramework.Artifacts.Target.Verdict}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: 7ffff426-0520-44b0-8c0c-d318968abc90
    type: playbook
    task:
      id: 7ffff426-0520-44b0-8c0c-d318968abc90
      version: -1
      name: SOC Endpoint Compromise Evaluation_V3
      playbookName: SOC Endpoint Compromise Evaluation_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "52"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1455
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "74":
    id: "74"
    taskid: eb85d106-1d55-4fbd-995d-831c3912e421
    type: playbook
    task:
      id: eb85d106-1d55-4fbd-995d-831c3912e421
      version: -1
      name: SOC Analysis Evaluation_V3
      playbookName: SOC Analysis Evaluation_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      case_category:
        complex:
          root: SOCFramework.Artifacts
          accessor: CategoryType
          transformers:
          - operator: toLowerCase
      case_host_count:
        simple: ${Analysis.Endpoint.host_count}
      case_issue_count:
        simple: ${Analysis.Endpoint.issue_count}
      case_score:
        simple: ${parentIncidentFields.predicted_score}
      case_user_count:
        simple: ${Analysis.Endpoint.user_count}
      compromise_decision:
        simple: ${Analysis.Endpoint.compromise_decision}
      compromise_level:
        simple: ${Analysis.Endpoint.compromise_level}
      confidence:
        simple: ${Analysis.Endpoint.confidence}
      global_hash_prevalence_count:
        simple: ${Core.AnalyticsPrevalence.Hash.[0].data.global_prevalence.value}
      mitre_tactic:
        simple: ${SOCFramework.Artifacts.MITRE.Tactic}
      mitre_tactic_id:
        simple: ${SOCFramework.Artifacts.MITRE.TacticID}
      mitre_technique:
        simple: ${SOCFramework.Artifacts.MITRE.Technique}
      mitre_technique_id:
        simple: ${SOCFramework.Artifacts.MITRE.TechniqueID}
      persistence_type:
        simple: ${Analysis.Endpoint.persistence_type}
      primary_entity_id:
        simple: ${SOCFramework.Artifacts.Endpoint.AgentID}
      primary_entity_name:
        simple: ${SOCFramework.Artifacts.Endpoint.Hostname}
      primary_entity_type:
        simple: ${SOCFramework.Product.category}
      primary_entity_user:
        simple: ${SOCFramework.Artifacts.User}
      response_recommended:
        simple: ${Analysis.Endpoint.response_recommended}
      spread_level:
        simple: ${Analysis.Endpoint.spread_level}
      story:
        simple: "Endpoint Analysis Summary\n\nA file with verdict \"${Analysis.Endpoint.verdict}\"
          was observed in this case.\n\nThe endpoint compromise level has been assessed
          as \"${Analysis.Endpoint.compromise_level}\", based on execution correlation
          and observed MITRE ATT&CK behavioral patterns.\n\nActivity scope:\n• Hosts
          involved: ${Analysis.Endpoint.host_count}\n• Users involved: ${Analysis.Endpoint.user_count}\n•
          Environmental hash prevalence: ${Analysis.Endpoint.hash_prevalence_count}\n•
          Spread level: ${Analysis.Endpoint.spread_level}\n\nInvestigation confidence
          is \"${Analysis.Endpoint.confidence}\". \nResponse recommendation: ${Analysis.Endpoint.response_recommended}."
      verdict:
        simple: ${Analysis.Endpoint.verdict}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3075
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: e808dafe-8229-48a1-b0bb-f914ba0a14f3
    type: title
    task:
      id: e808dafe-8229-48a1-b0bb-f914ba0a14f3
      version: -1
      name: Get Persistence Type
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "76"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "76":
    id: "76"
    taskid: 6ff3604f-c87a-44cc-a6be-33136836985f
    type: regular
    task:
      id: 6ff3604f-c87a-44cc-a6be-33136836985f
      version: -1
      name: Get MITRE Technique Name
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      key:
        simple: Analysis.Endpoint.persistence_type
      value:
        complex:
          root: SOCFramework.Artifacts.MITRE
          filters:
          - - operator: containsGeneral
              left:
                value:
                  simple: SOCFramework.Artifacts.MITRE.TacticID
                iscontext: true
              right:
                value:
                  simple: TA0003
          accessor: Technique
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2165
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3270,
        "width": 1240,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: entity_id
  value:
    simple: ${SOCFramework.Artifacts.Endpoint.AgentID}
  required: false
  description: Often Endpoint ID
  playbookInputQuery: null
- key: case_category
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: ""
  playbookInputQuery: null
- key: entity_type
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: ""
  playbookInputQuery: null
- key: SHA256
  value:
    simple: ${SOCFramework.Artifacts.Target.SHA256}
  required: false
  description: ""
  playbookInputQuery: null
outputs:
- contextPath: Analysis.verdict
  type: unknown
- contextPath: Analysis.confidence
  type: unknown
- contextPath: Analysis.response_recommended
  type: unknown
- contextPath: Analysis.compromise_level
  type: unknown
- contextPath: Analysis.compromise_decision
  type: unknown
- contextPath: Analysis.spread_level
  type: unknown
- contextPath: Analysis.persistence_type
  type: unknown
- contextPath: Analysis.primary_entity_id
  type: unknown
- contextPath: Analysis.primary_entity_name
  type: unknown
- contextPath: Analysis.primary_entity_user
  type: unknown
- contextPath: Analysis.primary_entity_type
  type: unknown
- contextPath: Analysis.case_category
  type: unknown
- contextPath: Analysis.mitre_tactic
  type: unknown
- contextPath: Analysis.mitre_tactic_id
  type: unknown
- contextPath: Analysis.mitre_technique
  type: unknown
- contextPath: Analysis.mitre_technique_id
  type: unknown
- contextPath: Analysis.story
  type: unknown
- contextPath: Analysis.case_score
  type: unknown
- contextPath: Analysis.global_hash_prevalence_count
  type: unknown
- contextPath: Analysis.case_host_count
  type: unknown
- contextPath: Analysis.case_issue_count
  type: unknown
- contextPath: Analysis.case_user_count
  type: unknown
