Packs/soc-framework-nist-ir/Playbooks/SOC_Endpoint_Compromise_Evaluation_V3.yml
adopted: true
id: SOC Endpoint Compromise Evaluation_V3
version: -1
fromversion: 5.0.0
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.5.6
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: SOC Endpoint Compromise Evaluation_V3
description: |-
  It evaluates three signals:

  File verdict (malicious / suspicious / benign)

  Execution evidence (file SHA256 matches executed process hashes in the issue context)

  Behavioral indicators (MITRE tactics/techniques such as Persistence, Command & Control, Privilege Escalation, Process Injection)

  Outputs

  likely_compromised
  Malicious file executed or strong post-exploitation behavior observed.

  suspicious
  Malicious or suspicious activity present but no definitive execution or compromise proof.

  isolated_signal
  Single weak signal with no execution or strong behavioral indicators.

  no_evidence
  Benign verdict and no supporting compromise indicators.

  The playbook does not use case risk score or alert volume; it focuses strictly on endpoint-level forensic evidence.
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 27ca4564-aefc-483e-8598-fa04dbefbf2e
    type: start
    task:
      id: 27ca4564-aefc-483e-8598-fa04dbefbf2e
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "69"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 4c010df0-1d0e-46e8-b043-672358f7ddbd
    type: regular
    task:
      id: 4c010df0-1d0e-46e8-b043-672358f7ddbd
      version: -1
      name: Set Compromise Likely
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "70"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_level
      value:
        simple: likely_compromised
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 1485
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 4371bae8-fa9c-479e-ac55-d10a704a8938
    type: regular
    task:
      id: 4371bae8-fa9c-479e-ac55-d10a704a8938
      version: -1
      name: Set Description Malicious And No Excecution
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: malicious_no_execution
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: a328a8d5-b8de-47b4-8a6a-69003e9e388d
    type: regular
    task:
      id: a328a8d5-b8de-47b4-8a6a-69003e9e388d
      version: -1
      name: Set Description Suspicious with Execution
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: suspicious_execution
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 2040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: 7b4a8594-365d-40d8-84cd-5590cb809f0d
    type: regular
    task:
      id: 7b4a8594-365d-40d8-84cd-5590cb809f0d
      version: -1
      name: Set Compromise Suspicious
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "70"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: suspicious_execution
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 2225
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 673a1f63-6c99-4218-8520-8e5226cda124
    type: regular
    task:
      id: 673a1f63-6c99-4218-8520-8e5226cda124
      version: -1
      name: Set Compromise Isolated
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "70"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_level
      value:
        simple: isolate_signal
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2117.5,
          "y": 2780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: 9e094f2a-5581-4510-9292-6bb1be80aebd
    type: title
    task:
      id: 9e094f2a-5581-4510-9292-6bb1be80aebd
      version: -1
      name: Investigate
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "82"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: 26cd8ee9-1d01-40d1-9b3a-dbd76a8cfa1e
    type: title
    task:
      id: 26cd8ee9-1d01-40d1-9b3a-dbd76a8cfa1e
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1912.5,
          "y": 2965
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: 9a3a0cd8-7536-4b2b-9cad-5448e9602fc5
    type: regular
    task:
      id: 9a3a0cd8-7536-4b2b-9cad-5448e9602fc5
      version: -1
      name: Set Compromise No Evidence
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "70"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_level
      value:
        simple: no_evidence
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2547.5,
          "y": 2780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "76":
    id: "76"
    taskid: 54387c7d-89ee-44c5-b977-07dab20e908e
    type: condition
    task:
      id: 54387c7d-89ee-44c5-b977-07dab20e908e
      version: -1
      name: Compromised Host Malicious and Executed?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "81"
      Likely Compromised:
      - "87"
    separatecontext: false
    conditions:
    - label: Likely Compromised
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
      - - operator: in
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.xdm_sourceprocess_executable_sha256
            iscontext: true
        - operator: isEqualString
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.initiator_sha256
            iscontext: true
        - operator: isEqualString
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.cgo_sha256
            iscontext: true
    - label: Likely Compromised
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
      - - operator: isEqualString
          left:
            value:
              simple: inputs.tactic_id
            iscontext: true
          right:
            value:
              simple: TA0002
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "77":
    id: "77"
    taskid: 34027e15-2aef-4b0a-8878-957e370550ce
    type: condition
    task:
      id: 34027e15-2aef-4b0a-8878-957e370550ce
      version: -1
      name: Compromised Malicious No Execution?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "78"
      Suspicious:
      - "30"
    separatecontext: false
    conditions:
    - label: Suspicious
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
      - - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.xdm_sourceprocess_executable_sha256
            iscontext: true
        - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.initiator_sha256
            iscontext: true
        - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.cgo_sha256
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1485
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "78":
    id: "78"
    taskid: 9422d3f6-ce78-45bb-bea3-69c58b2ee781
    type: condition
    task:
      id: 9422d3f6-ce78-45bb-bea3-69c58b2ee781
      version: -1
      name: Compromised  Suspicious with Execution?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "86"
      Suspicious:
      - "31"
    separatecontext: false
    conditions:
    - label: Suspicious
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: suspicious
      - - operator: in
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.xdm_sourceprocess_executable_sha256
            iscontext: true
        - operator: in
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.initiator_sha256
            iscontext: true
        - operator: in
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.cgo_sha256
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "79":
    id: "79"
    taskid: 28ea7aab-be63-4e6c-b9d9-63520cab7f0e
    type: condition
    task:
      id: 28ea7aab-be63-4e6c-b9d9-63520cab7f0e
      version: -1
      name: Isolated Signal?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "80"
      Isolated Signal:
      - "91"
    separatecontext: false
    conditions:
    - label: Isolated Signal
      condition:
      - - operator: in
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: |
                ("unknown","suspicious"))
      - - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.xdm_sourceprocess_executable_sha256
            iscontext: true
        - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.initiator_sha256
            iscontext: true
        - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.cgo_sha256
            iscontext: true
      - - operator: notIn
          left:
            value:
              simple: TA0011
            iscontext: true
          right:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
      - - operator: notIn
          left:
            value:
              simple: TA0003
            iscontext: true
          right:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
      - - operator: notIn
          left:
            value:
              simple: T1055
            iscontext: true
          right:
            value:
              simple: inputs.case_mitre_techniques
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: TA0004
            iscontext: true
          right:
            value:
              simple: inputs.case_mitre_techniques
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2445,
          "y": 2225
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "80":
    id: "80"
    taskid: 510e58df-e742-49b3-9910-02f691e96640
    type: condition
    task:
      id: 510e58df-e742-49b3-9910-02f691e96640
      version: -1
      name: No Evidence?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "70"
      No Evidence:
      - "92"
    separatecontext: false
    conditions:
    - label: No Evidence
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: benign
      - - operator: containsGeneral
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.xdm_sourceprocess_executable_sha256
            iscontext: true
        - operator: containsGeneral
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.initiator_sha256
            iscontext: true
        - operator: containsGeneral
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.cgo_sha256
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2660,
          "y": 2410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "81":
    id: "81"
    taskid: 98a68f9b-8748-4de0-83b6-ae46d324c1e2
    type: condition
    task:
      id: 98a68f9b-8748-4de0-83b6-ae46d324c1e2
      version: -1
      name: Execution + Strong Exploit Tactics
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "85"
      Likely Compromised:
      - "88"
    separatecontext: false
    conditions:
    - label: Likely Compromised
      condition:
      - - operator: in
          left:
            value:
              simple: TA0011
          right:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
        - operator: in
          left:
            value:
              simple: TA0003
          right:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
      - - operator: in
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.xdm_sourceprocess_executable_sha256
            iscontext: true
        - operator: in
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.initiator_sha256
            iscontext: true
        - operator: in
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.cgo_sha256
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "82":
    id: "82"
    taskid: 21ba8f6d-bdff-425f-9c4b-f19cccf4de83
    type: title
    task:
      id: 21ba8f6d-bdff-425f-9c4b-f19cccf4de83
      version: -1
      name: Evaluate Malicious
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "93"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "83":
    id: "83"
    taskid: 289cfa9b-dc82-4e6f-be72-b0002e049a00
    type: title
    task:
      id: 289cfa9b-dc82-4e6f-be72-b0002e049a00
      version: -1
      name: Evaluate Suspicious
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "77"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1307.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "84":
    id: "84"
    taskid: 2e46b5b4-7337-4691-b9df-349934c95fd7
    type: title
    task:
      id: 2e46b5b4-7337-4691-b9df-349934c95fd7
      version: -1
      name: Evaluate Isolated Signal
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "79"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2445,
          "y": 2047.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "85":
    id: "85"
    taskid: b57df6ec-9f5d-481c-b732-7f1f59026dbd
    type: condition
    task:
      id: b57df6ec-9f5d-481c-b732-7f1f59026dbd
      version: -1
      name: Malicious Strong Exploit Tactics
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "83"
      Likely Compromised:
      - "89"
    separatecontext: false
    conditions:
    - label: Likely Compromised
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
      - - operator: in
          left:
            value:
              simple: TA0011
          right:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
        - operator: in
          left:
            value:
              simple: TA0003
          right:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "86":
    id: "86"
    taskid: a6c34090-a35f-400d-b4f4-30dc4d0ff3c8
    type: condition
    task:
      id: a6c34090-a35f-400d-b4f4-30dc4d0ff3c8
      version: -1
      name: Compromised Strong Tactics No Execution?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "84"
      Suspicious:
      - "32"
      - "90"
    separatecontext: false
    conditions:
    - label: Suspicious
      condition:
      - - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.xdm_sourceprocess_executable_sha256
            iscontext: true
        - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.initiator_sha256
            iscontext: true
        - operator: notIn
          left:
            value:
              simple: inputs.SHA256
            iscontext: true
          right:
            value:
              simple: inputs.cgo_sha256
            iscontext: true
      - - operator: in
          left:
            value:
              simple: TA0011
          right:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
        - operator: in
          left:
            value:
              simple: TA0003
          right:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2107.5,
          "y": 1855
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "87":
    id: "87"
    taskid: 1e4dec76-91c3-45a2-9ec3-7e57564c7c32
    type: regular
    task:
      id: 1e4dec76-91c3-45a2-9ec3-7e57564c7c32
      version: -1
      name: Set Description To Malicious And Executed
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: malicious_and_executed
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "88":
    id: "88"
    taskid: 353dc2b8-f205-4dc6-abca-c9c00d6d34e9
    type: regular
    task:
      id: 353dc2b8-f205-4dc6-abca-c9c00d6d34e9
      version: -1
      name: Set Description Execution And Strong Tactics
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: execution_strong_tactics
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "89":
    id: "89"
    taskid: bcbc6174-fcc2-488e-83fb-dc73560cfa4d
    type: regular
    task:
      id: bcbc6174-fcc2-488e-83fb-dc73560cfa4d
      version: -1
      name: Set Description Malicioius And Strong Tactics
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: malicious_strong_tactics
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "90":
    id: "90"
    taskid: 9b9d105e-134e-4397-b80f-949c549cd6be
    type: regular
    task:
      id: 9b9d105e-134e-4397-b80f-949c549cd6be
      version: -1
      name: Set Description Suspicious with Execution
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: strong_tactics_no_execution
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 2040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "91":
    id: "91"
    taskid: c0ae4ecb-c687-49e8-84d7-e15087f2c7b3
    type: regular
    task:
      id: c0ae4ecb-c687-49e8-84d7-e15087f2c7b3
      version: -1
      name: Set Description Suspicious, No Execution, No Tactics
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: suspicious_no_tactics_no_execution
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2117.5,
          "y": 2595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "92":
    id: "92"
    taskid: f14be6c5-632b-4ab2-95c0-ccea72352e00
    type: regular
    task:
      id: f14be6c5-632b-4ab2-95c0-ccea72352e00
      version: -1
      name: Set Description Benign, No Execution
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "75"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Endpoint.compromise_decision
      value:
        simple: benign_no_execution
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2547.5,
          "y": 2595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "93":
    id: "93"
    taskid: 14e2fba4-17d5-4485-ac11-35892f926688
    type: condition
    task:
      id: 14e2fba4-17d5-4485-ac11-35892f926688
      version: -1
      name: Tactic Breadth — Likely Compromised?
      description: Determines likely compromise based on MITRE tactic breadth independent
        of file verdict. C2 (TA0011) + Persistence (TA0003) = confirmed campaign activity.
        Execution (TA0002) + high issue count = high-signal behavioral compromise.
        This prevents unknown-verdict files like NTFVersion.exe from blocking the
        compromise decision when strong tactical evidence exists.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "76"
      Likely Compromised:
      - "89"
    separatecontext: false
    conditions:
    - label: Likely Compromised
      condition:
      - - operator: containsString
          left:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
          right:
            value:
              simple: TA0011
        - operator: containsString
          left:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
          right:
            value:
              simple: TA0003
      - - operator: containsString
          left:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
          right:
            value:
              simple: TA0002
        - operator: containsString
          left:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
          right:
            value:
              simple: TA0008
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: inputs.case_issue_count
            iscontext: true
          right:
            value:
              simple: inputs.high_issue_count
            iscontext: true
        - operator: containsString
          left:
            value:
              simple: inputs.case_mitre_tactics
            iscontext: true
          right:
            value:
              simple: TA0006
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "76_81_#default#": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 2975,
        "width": 2990,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: host_likely_compromised
  value:
    simple: "70"
  required: false
  description: Threshold for DBot Predicted Score for Host Likely Compromised
  playbookInputQuery: null
- key: host_suspicious
  value:
    simple: "40"
  required: false
  description: Threshold for DBot Predicted Score for Host Suspicious.  This value
    will be between the host_likely_compromised and this value host_suspicious values.
  playbookInputQuery: null
- key: host_isolated_signal
  value:
    simple: "40"
  required: false
  description: Anything less than this number will be an Isolated Signal for the host.
  playbookInputQuery: null
- key: host_high_issue_count
  value:
    simple: "3"
  required: false
  description: ""
  playbookInputQuery: null
- key: SHA256
  value:
    complex:
      root: SOCFramework.Artifacts.Target.SHA256
      transformers:
      - operator: join
        args:
          separator:
            value:
              simple: ','
  required: false
  description: ""
  playbookInputQuery: null
- key: verdict
  value:
    simple: ${Analysis.Endpoint.verdict}
  required: false
  description: Enriched artifact verdict resolved by SOC_Endpoint_Verdict_Resolution_V3
    after all TI sources and WildFire detonation. Use Analysis.Endpoint.verdict, not
    SOCFramework.Artifacts.Verdict, to ensure compromise evaluation uses the aggregated
    DBot-normalized result rather than the raw source classification.
  playbookInputQuery: null
- key: initiator_sha256
  value:
    simple: ${SOCFramework.Artifacts.Target.SHA256}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_mitre_tactics
  value:
    simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_mitre_techniques
  value:
    simple: ${parentIncidentFields.mitre_techniques_ids_and_names.[0]}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_issue_count
  value:
    simple: ${parentIncidentFields.alert_count}
  required: false
  description: ""
  playbookInputQuery: null
- key: xdm_sourceprocess_executable_sha256
  value:
    simple: ${SOCFramework.Artifacts.Target.SHA256}
  required: false
  description: ""
  playbookInputQuery: null
- key: cgo_sha256
  value:
    simple: ${SOCFramework.Artifacts.Target.SHA256}
  required: false
  description: ""
  playbookInputQuery: null
- key: tactic_id
  value:
    simple: ${SOCFramework.Artifacts.MITRE.TacticID}
  required: false
  description: MITRE ATT&CK tactic ID written by Foundation into SOCFramework.Artifacts.MITRE.TacticID
    (e.g. TA0002 for Execution). Used alongside verdict to confirm execution without
    requiring hash matching when CGO/XDM fields are not populated.
  playbookInputQuery: null
- key: high_issue_count
  value:
    simple: "5"
  required: false
  description: Issue count threshold for high-confidence tactic-based compromise decision
  playbookInputQuery: null
outputs:
- contextPath: Analysis.Endpoint.compromise_level
  description: Is this host considered compromised?
  type: unknown
- contextPath: Analysis.Endpoint.compromise_decision
  description: Why did this playbook decide this was the finding?
  type: unknown
