Packs/soc-framework-nist-ir/Playbooks/SOC_Eradication_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC Eradication_V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.4.5
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: SOC Eradication_V3
description: |-
  Remove the root cause of the alert, eliminate the attacker’s foothold, and ensure no additional malicious components remain in the environment.

  What this phase includes:

  Identifying and removing malware, malicious code, unauthorized user accounts, persistence mechanisms, and compromised artifacts.

  Disabling or removing compromised services, processes, or software.

  Applying patches, hotfixes, configuration changes, or control improvements that eliminate the vulnerability or weakness exploited.

  Hardening systems to prevent reinfection (e.g., secure configuration, MFA enforcement, disabling unnecessary services).

  Validating that no traces of the attacker’s presence remain (malware scans, script-based checks, log analysis).

  Outcome:
  The environment is clean, the attack vector is neutralized, and systems are prepared for restoration and safe reintroduction into production.
tags:
- SOC
- SOC_Framework_Unified
- NIST 800-61
- Eradication
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
    type: start
    task:
      id: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8500"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: fdf3d06f-333b-4bd7-a40e-0368fbbf1381
    type: playbook
    task:
      id: fdf3d06f-333b-4bd7-a40e-0368fbbf1381
      version: -1
      name: SOC Data Eradication_V3
      description: |-
        Primary owners: Alert responders, platform engineers.

        Analyst role: Provide forensic details (malware hash, registry paths, C2 domains) to guide eradication efforts.
      playbookName: SOC Data Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 7dc1d324-6a82-4c74-81ff-a298ca3b689a
    type: playbook
    task:
      id: 7dc1d324-6a82-4c74-81ff-a298ca3b689a
      version: -1
      name: SOC Email Eradication_V3
      description: |-
        Primary owners: Alert responders, platform engineers.

        Analyst role: Provide forensic details (malware hash, registry paths, C2 domains) to guide eradication efforts.
      playbookName: SOC Email Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      ContainmentRequired:
        simple: ${Containment.required}
      PersistenceType:
        simple: ${Analysis.Email.persistence_type}
      ResponseRecommended:
        simple: ${Analysis.Email.response_recommended}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 4d01e95d-a516-4741-acdb-1d97f94bb794
    type: playbook
    task:
      id: 4d01e95d-a516-4741-acdb-1d97f94bb794
      version: -1
      name: SOC EndPoint Eradication_V3
      description: |-
        Primary owners: Alert responders, platform engineers.

        Analyst role: Provide forensic details (malware hash, registry paths, C2 domains) to guide eradication efforts.
      playbookName: SOC EndPoint Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      compromise_decision:
        simple: ${Analysis.compromise_decision}
      compromise_level:
        simple: ${Analysis.compromise_level}
      mitre_tactic:
        simple: ${Analysis.mitre_tactic}
      persistence_type:
        simple: ${Analysis.persistence_type}
      primary_entity_id:
        simple: ${Analysis.primary_entity_id}
      primary_entity_name:
        simple: ${Analysis.primary_entity_name}
      primary_entity_user:
        simple: ${Analysis.primary_entity_user}
      response_recommended:
        simple: ${Analysis.response_recommended}
      spread_level:
        simple: ${Analysis.spread_level}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 8c5ce6a2-f640-4738-992b-ae3eab3e475a
    type: playbook
    task:
      id: 8c5ce6a2-f640-4738-992b-ae3eab3e475a
      version: -1
      name: SOC Identity Eradication_V3
      description: |-
        Primary owners: Alert responders, platform engineers.

        Analyst role: Provide forensic details (malware hash, registry paths, C2 domains) to guide eradication efforts.
      playbookName: SOC Identity Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1512.5,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 45c2388e-9e9e-4b9a-9057-a95fbea9036d
    type: playbook
    task:
      id: 45c2388e-9e9e-4b9a-9057-a95fbea9036d
      version: -1
      name: SOC Network Eradication_V3
      description: |-
        Primary owners: Alert responders, platform engineers.

        Analyst role: Provide forensic details (malware hash, registry paths, C2 domains) to guide eradication efforts.
      playbookName: SOC Network Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 1962.5,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 046b937c-ae6b-4adc-a3d7-0d55182e5062
    type: playbook
    task:
      id: 046b937c-ae6b-4adc-a3d7-0d55182e5062
      version: -1
      name: SOC SaaS Eradication_V3
      description: |-
        Primary owners: Alert responders, platform engineers.

        Analyst role: Provide forensic details (malware hash, registry paths, C2 domains) to guide eradication efforts.
      playbookName: SOC SaaS Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 2412.5,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 983ef27c-ebab-448a-b3c7-e03f8344feff
    type: playbook
    task:
      id: 983ef27c-ebab-448a-b3c7-e03f8344feff
      version: -1
      name: SOC Workload Eradication_V3
      description: |-
        Primary owners: Alert responders, platform engineers.

        Analyst role: Provide forensic details (malware hash, registry paths, C2 domains) to guide eradication efforts.
      playbookName: SOC Workload Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 2862.5,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: befba2d4-ec6a-4f2a-9ac0-efc5ab4bea3e
    type: title
    task:
      id: befba2d4-ec6a-4f2a-9ac0-efc5ab4bea3e
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1287.5,
          "y": 1685
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 58ddef46-fd19-436e-99cb-d4a4e2389bbf
    type: condition
    task:
      id: 58ddef46-fd19-436e-99cb-d4a4e2389bbf
      version: -1
      name: Product Category
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Data:
      - "12"
      Email:
      - "11"
      Endpoint:
      - "13"
      Identity:
      - "14"
      Network:
      - "15"
      SaaS:
      - "16"
      Workload:
      - "17"
    separatecontext: false
    conditions:
    - label: SaaS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: SaaS
    - label: Workload
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Workload
    - label: Identity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Identity
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Network
    - label: Email
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Email
    - label: Endpoint
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Endpoint
    - label: Data
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Data
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 74b98d2e-1540-48dc-8b9b-e039d18c436d
    type: condition
    task:
      id: 74b98d2e-1540-48dc-8b9b-e039d18c436d
      version: -1
      name: Email Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "2"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 127597aa-fd4d-4002-bb41-3925f8411103
    type: condition
    task:
      id: 127597aa-fd4d-4002-bb41-3925f8411103
      version: -1
      name: Data Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "1"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: afa9573f-da67-432e-980b-ffbf9845ea36
    type: condition
    task:
      id: afa9573f-da67-432e-980b-ffbf9845ea36
      version: -1
      name: Endpoint Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "3"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: lists
                accessor: SOCExecutionList_V3
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 950,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 69578c09-375b-4ed1-b8ac-f8c7b3f57175
    type: condition
    task:
      id: 69578c09-375b-4ed1-b8ac-f8c7b3f57175
      version: -1
      name: Identity Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "4"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1400,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: fcd4c17f-9cc5-42cb-a21b-f637a1c1144e
    type: condition
    task:
      id: fcd4c17f-9cc5-42cb-a21b-f637a1c1144e
      version: -1
      name: Network Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "5"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1850,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 59ff66e2-351e-4fb8-9a36-d486b635a998
    type: condition
    task:
      id: 59ff66e2-351e-4fb8-9a36-d486b635a998
      version: -1
      name: SaaS Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "6"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 651f796f-82e4-4227-a89d-9b8afcc92a05
    type: condition
    task:
      id: 651f796f-82e4-4227-a89d-9b8afcc92a05
      version: -1
      name: Workload Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "7"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8500":
    id: "8500"
    taskid: e0000000-0000-4000-9999-000000008500
    type: regular
    task:
      id: e0000000-0000-4000-9999-000000008500
      version: -1
      name: Initialize eradication phase context
      description: |-
        Reads SOCFrameworkPhaseContract_V3 and pre-initializes every key
        this phase will produce — top-level writes plus per-category
        writes for the category in SOCFramework.Product.category. Gives
        downstream sub-playbooks a stable, predictable read shape.

        Never overwrites existing non-empty values — safe on re-entry.

        To change initialization behavior, edit the phase contract schema
        and regenerate the list. Never edit this task for per-key changes.
      script: SOCInitializePhaseContext
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      phase:
        simple: eradication
    nexttasks:
      '#none#':
      - "9000"
    separatecontext: false
    continueonerrortype: ""
    continueonerror: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9000":
    id: "9000"
    taskid: 33618444-6e73-43bc-9b89-d68a857e0156
    type: regular
    task:
      id: 33618444-6e73-43bc-9b89-d68a857e0156
      version: -1
      name: Set Phase — Eradication
      script: Set
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      key:
        simple: SOCFramework.phase
      value:
        simple: Eradication
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {
      "9_13_Endpoint": 0.89,
      "9_14_Identity": 0.9,
      "9_15_Network": 0.79,
      "9_16_SaaS": 0.86
    },
    "paper": {
      "dimensions": {
        "height": 1695,
        "width": 3192.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: ProductCategory
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: ""
  playbookInputQuery: null
- key: ExecutionBranch
  value:
    simple: ${lists.SOCExecutionList_V3}
  required: false
  description: ""
  playbookInputQuery: null
outputs:
- contextPath: Eradication.success
  type: unknown
- contextPath: Eradication.attempted
  type: unknown
- contextPath: Eradication.files_removed
  type: unknown
- contextPath: Eradication.persistence_removed
  type: unknown
- contextPath: Eradication.reimage_required
  type: unknown
- contextPath: Eradication.escalate_to_reimage
  type: unknown
- contextPath: Eradication.story
  type: unknown
