Packs/soc-framework-nist-ir/Playbooks/SOC_EndPoint_Spread_Evaluation_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC EndPoint Spread Evaluation_V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 3.1.4
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
name: SOC EndPoint Spread Evaluation_V3
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- EndPoint
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 27ca4564-aefc-483e-8598-fa04dbefbf2e
    type: start
    task:
      id: 27ca4564-aefc-483e-8598-fa04dbefbf2e
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '52'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: 321770e1-d16e-4324-b6ba-de8b83325812
    type: title
    task:
      id: 321770e1-d16e-4324-b6ba-de8b83325812
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 1315\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '52':
    id: '52'
    taskid: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
    type: title
    task:
      id: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
      version: -1
      name: Evaluate Spread Level
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '58'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '53':
    id: '53'
    taskid: 2ca4baba-7caf-4122-a666-31e30704d256
    type: condition
    task:
      id: 2ca4baba-7caf-4122-a666-31e30704d256
      version: -1
      name: Limited Spread Event?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '17'
      Limited Entity:
      - '55'
      Single Entity:
      - '56'
    separatecontext: false
    conditions:
    - label: Limited Entity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: UC.Enrich.File.hash_prevalence_count
            iscontext: true
          right:
            value:
              simple: inputs.limited_hash_count_per_case
            iscontext: true
    - label: Single Entity
      condition:
      - - operator: lessThanOrEqual
          left:
            value:
              simple: UC.Enrich.File.hash_prevalence_count
            iscontext: true
          right:
            value:
              simple: '1'
        - operator: isEqualString
          left:
            value:
              simple: Analysis.Endpoint.compromise_decision
            iscontext: true
          right:
            value:
              simple: malicious_and_executed
        - operator: isEqualString
          left:
            value:
              simple: Analysis.Endpoint.compromise_decision
            iscontext: true
          right:
            value:
              simple: execution_strong_tactics
        - operator: isEqualString
          left:
            value:
              simple: Analysis.Endpoint.compromise_decision
            iscontext: true
          right:
            value:
              simple: malicious_strong_tactics
        - operator: isEqualString
          left:
            value:
              simple: compromise_decision
            iscontext: true
          right:
            value:
              simple: suspicious_execution
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 945\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '54':
    id: '54'
    taskid: 781c3559-96da-4bac-80ed-502452ac0ac0
    type: regular
    task:
      id: 781c3559-96da-4bac-80ed-502452ac0ac0
      version: -1
      name: Set Multi-Entity Spread
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Endpoint.spread_level
      value:
        simple: multi_entity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 1130\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
  '55':
    id: '55'
    taskid: 6c14234c-2a6f-4029-9b3a-77510ec34f09
    type: regular
    task:
      id: 6c14234c-2a6f-4029-9b3a-77510ec34f09
      version: -1
      name: Set Limited-Entity Spread
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Endpoint.spread_level
      value:
        simple: limited_entity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1130\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
  '56':
    id: '56'
    taskid: 8715cbf0-1e8f-47cd-ae0a-cbfd6968ef83
    type: regular
    task:
      id: 8715cbf0-1e8f-47cd-ae0a-cbfd6968ef83
      version: -1
      name: Set Single-Entity Spread
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Endpoint.spread_level
      value:
        simple: single_entity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1130\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
  '57':
    id: '57'
    taskid: e7194a9b-91d0-4264-ae11-80f8eb14eade
    type: condition
    task:
      id: e7194a9b-91d0-4264-ae11-80f8eb14eade
      version: -1
      name: Multi Spread Event?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '53'
      Multi Entity Spread:
      - '54'
    separatecontext: false
    conditions:
    - label: Multi Entity Spread
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: inputs.case_host_count
            iscontext: true
          right:
            value:
              simple: inputs.high_host_count_per_case
            iscontext: true
        - operator: isEqualString
          left:
            value:
              simple: UC.Enrich.File.hash_prevalence_count
            iscontext: true
          right:
            value:
              simple: inputs.high_hash_count_per_case
            iscontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 760\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '58':
    id: '58'
    taskid: a7a7faa2-1fec-4608-a931-41df1ffc7fd9
    type: regular
    task:
      id: a7a7faa2-1fec-4608-a931-41df1ffc7fd9
      version: -1
      name: Enrich File Hash — Universal Command
      description: Get hash prevalence via SOCCommandWrapper soc-enrich-file. output_map
        writes UC.Enrich.File.hash_prevalence_count automatically — replaces the separate
        Set Hash Global Prevalence task.
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      script: SOCCommandWrapper
    nexttasks:
      '#none#':
      - '57'
    scriptarguments:
      action:
        simple: soc-enrich-file
      Phase:
        simple: Analysis
      LifeCycle:
        simple: NIST_IR
    separatecontext: false
    continueonerrortype: errorPath
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 390\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
system: true
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 1325,\n      \"width\": 1240,\n      \"x\": 50,\n      \"y\":\
  \ 50\n    }\n  }\n}"
inputs:
- key: high_host_count_per_case
  value:
    simple: '3'
  required: false
  description: ''
  playbookInputQuery: null
- key: high_hash_count_per_case
  value:
    simple: '3'
  required: false
  description: ''
  playbookInputQuery: null
- key: SHA256
  value:
    simple: ${SOCFramework.Artifacts.Target.SHA256}
  required: false
  description: ''
  playbookInputQuery: null
- key: case_host_count
  value:
    simple: ${Analysis.Endpoint.host_count}
  required: false
  description: ''
  playbookInputQuery: null
- key: limited_host_count_per_case
  value:
    simple: '2'
  required: false
  description: ''
  playbookInputQuery: null
- key: limited_hash_count_per_case
  value:
    simple: '2'
  required: false
  description: ''
  playbookInputQuery: null
- key: limited_user_count_per_case
  value:
    simple: '2'
  required: false
  description: ''
  playbookInputQuery: null
- key: case_user_count
  value:
    simple: ${Analysis.Endpoint.user_count}
  required: false
  description: ''
  playbookInputQuery: null
- key: case_tactics
  value:
    simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
  required: false
  description: ''
  playbookInputQuery: null
outputs:
- contextPath: Analysis.Endpoint.spread_level
  description: What is the Level Of Spread?
  type: string
- contextPath: UC.Enrich.File.hash_prevalence_count
  type: unknown
  description: Hash global prevalence count from soc-enrich-file UC call
