Packs/soc-framework-nist-ir/Playbooks/SOC_Containment_V3.yml
adopted: true
id: SOC Containment_V3
version: -1
fromversion: 5.0.0
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.5.8
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: SOC Containment_V3
description: |-
  Limit the damage, stop the attacker’s ability to continue harmful activity, and prevent the alert from spreading while preserving evidence and keeping essential business operations running.

  What this phase includes:

  Isolating affected systems, users, networks, or applications to prevent lateral movement or continued exploitation.

  Applying short-term tactical controls (e.g., block IPs, disable accounts, quarantine hosts, isolate network segments).

  Implementing longer-term containment strategies where immediate eradication is not feasible (e.g., temporary config changes, firewall rules, forced MFA resets).

  Capturing forensic data before making changes that would alter volatile evidence (memory, network traffic, logs, etc.).

  Ensuring containment actions do not disrupt critical business processes unless absolutely necessary.

  Coordinating with stakeholders to select the right containment strategy (e.g., monitor, disconnect, shutdown, or redirect).

  '9006':
  The alert is stabilized, the attacker’s ability to cause further harm is limited, and the environment is safe enough to begin eradication and recovery without losing essential evidence.
tags:
- SOC
- SOC_Framework_Unified
- Containment
- NIST 800-61
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
    type: start
    task:
      id: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8500"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 950,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 71088d94-3400-4131-abf6-527ce24feaa4
    type: playbook
    task:
      id: 71088d94-3400-4131-abf6-527ce24feaa4
      version: -1
      name: SOC Data Containment_V3
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      playbookName: SOC Data Containment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 1605,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: ff123987-f0b8-456a-a86c-8a10d3d1668b
    type: playbook
    task:
      id: ff123987-f0b8-456a-a86c-8a10d3d1668b
      version: -1
      name: SOC Email Containment_V3
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      playbookName: SOC Email Containment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 2485,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 20efe88f-8bcb-4049-aedc-f081fc4b5a06
    type: playbook
    task:
      id: 20efe88f-8bcb-4049-aedc-f081fc4b5a06
      version: -1
      name: SOC SaaS Containment_V3
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      playbookName: SOC SaaS Containment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 622.5,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: f4410720-1ca5-4d5d-b9b1-b64dab616236
    type: playbook
    task:
      id: f4410720-1ca5-4d5d-b9b1-b64dab616236
      version: -1
      name: SOC Workload Containment_V3
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      playbookName: SOC Workload Containment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1052.5,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 65f28176-2b84-4727-961b-54aaae7a2dd7
    type: title
    task:
      id: 65f28176-2b84-4727-961b-54aaae7a2dd7
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2045,
          "y": 1700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: f9c4e418-5629-4e5b-b368-9e1ff70a4d10
    type: condition
    task:
      id: f9c4e418-5629-4e5b-b368-9e1ff70a4d10
      version: -1
      name: Product Category?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Cloud SaaS:
      - "18"
      Cloud Workload:
      - "19"
      Data:
      - "15"
      Email:
      - "14"
      Endpoint:
      - "16"
      Identity:
      - "20"
      Network:
      - "17"
    separatecontext: false
    conditions:
    - label: Email
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Email
    - label: Endpoint
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Endpoint
    - label: Identity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Identity
    - label: Data
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Data
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Network
    - label: Cloud SaaS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: SaaS
    - label: Cloud Workload
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Workload
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1717.5,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 9bcc56e5-55cc-4377-81f2-4f20cd8c928d
    type: playbook
    task:
      id: 9bcc56e5-55cc-4377-81f2-4f20cd8c928d
      version: -1
      name: SOC Identity Containment_V3
      description: "This playbook handles the main containment actions available with
        Cortex XSIAM, including the following sub-playbooks:  \n* Containment Plan
        - Isolate endpoint\n * Containment Plan - Disable account\n* Containment Plan
        - Quarantine file\n* Containment Plan - Block indicators\n* Containment Plan
        - Clear user session (currently, the playbook supports only Okta)\n\nNote:
        The playbook inputs enable manipulating the execution flow. Read the input
        descriptions for details."
      playbookName: SOC Identity Containment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      AutoContainment:
        simple: "False"
      ClearUserSessions:
        simple: "True"
      FeaturedAD:
        simple: "False"
      FeaturedUser:
        simple: "False"
      IAMUserDomain:
        complex:
          root: Issue
          filters:
          - - operator: containsGeneral
              left:
                value:
                  simple: issue
                iscontext: true
              right:
                value:
                  simple: '@'
          accessor: domain
          transformers:
          - operator: RegexExtractAll
            args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: ^([^@]+)
              unpack_matches: {}
      UserContainment:
        simple: "True"
      Username:
        simple: ${SOCFramework.Artifacts.UserName}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 3385,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 71dfaf2b-96ce-4258-88e8-2dc71897c709
    type: playbook
    task:
      id: 71dfaf2b-96ce-4258-88e8-2dc71897c709
      version: -1
      name: SOC Endpoint Containment_V3
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      playbookName: SOC Endpoint Containment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      AutoContainment:
        simple: "False"
      CaseScore:
        simple: ${Analysis.case_score}
      CompromiseLevel:
        complex:
          root: Analysis
          accessor: compromise_level
          transformers:
          - operator: toLowerCase
      Confidence:
        complex:
          root: Analysis
          accessor: confidence
          transformers:
          - operator: toLowerCase
      ExecutionConfirmed:
        complex:
          root: Analysis
          accessor: compromise_decision
          transformers:
          - operator: toLowerCase
      FeaturedHost:
        simple: "False"
      FileRemediation:
        simple: Quarantine
      SourceBrand:
        simple: ${SOCFramework.Product.response}
      Verdict:
        complex:
          root: Analysis
          accessor: verdict
          transformers:
          - operator: toLowerCase
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 2935,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 0cb56eed-4fbe-4c1d-b5a6-3ff43d728a1b
    type: playbook
    task:
      id: 0cb56eed-4fbe-4c1d-b5a6-3ff43d728a1b
      version: -1
      name: SOC Network Containment_V3
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      playbookName: SOC Network Containment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 3835,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: d86f9961-8748-4ada-a6ea-fbc465ca239b
    type: condition
    task:
      id: d86f9961-8748-4ada-a6ea-fbc465ca239b
      version: -1
      name: Email Containment Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Custom:
      - "22"
      Default:
      - "2"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2250,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 4cbfadf9-a785-4ad7-a22b-3ced69f18f4a
    type: condition
    task:
      id: 4cbfadf9-a785-4ad7-a22b-3ced69f18f4a
      version: -1
      name: Data Containment Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "1"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1492.5,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: bfa559df-b0f4-4744-99da-a78ded4ffd81
    type: condition
    task:
      id: bfa559df-b0f4-4744-99da-a78ded4ffd81
      version: -1
      name: Endpoint Containment Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "11"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2822.5,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: a06f2bee-8b17-4710-af3f-17e8b48f20a7
    type: condition
    task:
      id: a06f2bee-8b17-4710-af3f-17e8b48f20a7
      version: -1
      name: Network Containment Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "12"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 3722.5,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 8c74e1e1-fe1c-4572-9ebf-5608a6450fb2
    type: condition
    task:
      id: 8c74e1e1-fe1c-4572-9ebf-5608a6450fb2
      version: -1
      name: SaaS Containment Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "6"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 520,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: c44e25f5-eea2-41bf-93ca-e8a97a3b6e86
    type: condition
    task:
      id: c44e25f5-eea2-41bf-93ca-e8a97a3b6e86
      version: -1
      name: Workload Containment Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      Default:
      - "7"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1052.5,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: f4dc5700-dd72-4a7d-bd48-3197f138f8d2
    type: condition
    task:
      id: f4dc5700-dd72-4a7d-bd48-3197f138f8d2
      version: -1
      name: Identity Containment Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "10"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Containment_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 3272.5,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 7e6cdde3-d33e-4a52-af1c-d50541fd4b6b
    type: title
    task:
      id: 7e6cdde3-d33e-4a52-af1c-d50541fd4b6b
      version: -1
      name: Example of a Custom Branch
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2055,
          "y": 1522.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8500":
    id: "8500"
    taskid: c0000000-0000-4000-9999-000000008500
    type: regular
    task:
      id: c0000000-0000-4000-9999-000000008500
      version: -1
      name: Initialize containment phase context
      description: |-
        Reads SOCFrameworkPhaseContract_V3 and pre-initializes every key
        this phase will produce — top-level writes plus per-category
        writes for the category in SOCFramework.Product.category. Gives
        downstream sub-playbooks a stable, predictable read shape.

        Never overwrites existing non-empty values — safe on re-entry.

        To change initialization behavior, edit the phase contract schema
        and regenerate the list. Never edit this task for per-key changes.
      script: SOCInitializePhaseContext
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      phase:
        simple: containment
    nexttasks:
      '#none#':
      - "9000"
    separatecontext: false
    continueonerrortype: ""
    continueonerror: true
    view: |-
      {
        "position": {
          "x": 480,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9000":
    id: "9000"
    taskid: 79d54bf7-c598-43c6-82fc-6e295e08940e
    type: regular
    task:
      id: 79d54bf7-c598-43c6-82fc-6e295e08940e
      version: -1
      name: Set Phase — Containment
      script: Set
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      key:
        simple: SOCFramework.phase
      value:
        simple: Containment
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 950,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "9_16_Endpoint": 0.9,
      "9_17_Network": 0.3,
      "9_20_Identity": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 1710,
        "width": 4165,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: ProductCategory
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: 'Get the Product Category '
  playbookInputQuery: null
- key: ExecutionBranch
  value:
    simple: ${lists.SOCExecutionList_V3}
  required: false
  description: ""
  playbookInputQuery: null
outputs:
- contextPath: Containment.status
  type: unknown
- contextPath: Containment.isolated_hosts
  type: unknown
- contextPath: Containment.action
  type: unknown
- contextPath: Containment.story
  type: unknown
- contextPath: Containment.required
  description: Whether containment action was required
  type: unknown
- contextPath: Containment.Execution
  description: Execution mode (shadow or production) — used for dashboard filtering
  type: unknown
- contextPath: Containment.disabled_users
  type: unknown
