Packs/soc-optimization-unified/Playbooks/Foundation_-_Dedup_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Dedup_V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.7.4
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: Foundation - Dedup_V3
description: |
  Uses alert fingerprinting to detect duplicate alerts within the dedup window.
  Determines the canonical case by selecting the lowest alert ID in the duplicate
  group — deterministic, race-free winner selection. Non-winner instances
  self-close cleanly. The canonical case continues the processing chain.
tags:
- SOC
- SOC_Framework_Unified
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 4bb50423-9a1a-4c0e-88ba-c31e26fdf280
    type: start
    task:
      id: 4bb50423-9a1a-4c0e-88ba-c31e26fdf280
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "19"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 2eb08148-d069-489a-83e1-1ab88016aac3
    type: title
    task:
      id: 2eb08148-d069-489a-83e1-1ab88016aac3
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: fe98508c-87a9-4233-8e42-9418191678b4
    type: regular
    task:
      id: fe98508c-87a9-4233-8e42-9418191678b4
      version: -1
      name: DeDup Alerts from the Last "1 days ago"
      description: |-
        Finds past similar alerts based on alert fields' similarity. Includes an option to also display indicators similarity.
        Note: For the similarity calculation, at least one field must be provided in one of the "similarTextField", "similarCategoricalField", or "similarJsonField" arguments.
      script: DBotFindSimilarAlerts
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "18"
      '#none#':
      - "16"
    scriptarguments:
      fromDate:
        complex:
          root: inputs.DedupWindow
      minimunIncidentSimilarity:
        simple: "0.8"
      query:
        simple: case_id=${parentIncidentFields.incident_id}
      similarJsonField:
        simple: ${inputs.SimilarJsonField}
      similarTextField:
        simple: ${inputs.SimilarTextField}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 7adad498-fc30-4def-818b-a1d7198474c8
    type: condition
    task:
      id: 7adad498-fc30-4def-818b-a1d7198474c8
      version: -1
      name: Are there any similar alerts?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "22"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isTrue
          left:
            value:
              simple: DBotFindSimilarIncidents.isSimilarIncidentFound
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: c9a53716-a57b-4fae-8e00-d3508d482f51
    type: playbook
    task:
      id: c9a53716-a57b-4fae-8e00-d3508d482f51
      version: -1
      name: Foundation - Error Handling_V3
      playbookName: Foundation - Error Handling_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: b7e14f2c-3a8d-4901-bc56-d2f9a3e7c084
    type: regular
    task:
      id: b7e14f2c-3a8d-4901-bc56-d2f9a3e7c084
      version: -1
      name: Print Dedup Skipped Warning
      description: Prints text to war room (Markdown supported)
      script: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      value:
        simple: ⚠️ **Dedup skipped** — an error occurred during alert fingerprinting
          or dedup close. This alert was not evaluated for duplicates. Check the error
          log for details.
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: e2a47b13-5c8d-4f91-a3e0-7d9b2f6c4a08
    type: condition
    task:
      id: e2a47b13-5c8d-4f91-a3e0-7d9b2f6c4a08
      version: -1
      name: Score Bypass?
      description: If the parent alert's predicted_score meets or exceeds DedupScoreThreshold,
        skip dedup entirely. High-scoring active cases should surface new signals
        independently rather than have them suppressed.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "8"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: parentIncidentFields.predicted_score
            iscontext: true
          right:
            value:
              complex:
                root: inputs.DedupScoreThreshold
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: f3b58c24-6d9e-4a02-b4f1-8e0c3g7d5b19
    type: condition
    task:
      id: f3b58c24-6d9e-4a02-b4f1-8e0c3g7d5b19
      version: -1
      name: DryRun?
      description: If DryRun is true, print what would be closed without executing.
        Used for smoke testing post-deploy without closing any issues.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "21"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isTrue
          left:
            value:
              complex:
                root: inputs.DryRun
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 685,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: faa59a37-0bc9-4516-9c91-26991341bc6d
    type: regular
    task:
      id: faa59a37-0bc9-4516-9c91-26991341bc6d
      version: -1
      name: '[DRY RUN] Print Issues That Would Close'
      description: Smoke test output. Lists duplicate issue IDs that would have been
        closed by dedup. No issues are modified.
      tags:
      - Auto-Triage
      script: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      value:
        simple: '[DRY RUN] Dedup would close issue(s): ${DBotFindSimilarIncidents.similarIncident.id}
          Current alert: ${alert.id} Dedup window: ${inputs.DedupWindow} Score threshold
          (bypass): ${inputs.DedupScoreThreshold} Parent score: ${parentIncidentFields.predicted_score}'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 90806324-1af6-4a1d-9c96-a02a016d3fb4
    type: regular
    task:
      id: 90806324-1af6-4a1d-9c96-a02a016d3fb4
      version: -1
      name: Compute Winner ID (min alert ID in duplicate group)
      description: Computes the numeric minimum across the current alert ID and the
        list of similar alert IDs and writes SOCFramework.Dedup.WinnerID. The alert
        with the lowest ID is the canonical case — deterministic, race-free, no
        coordination required.
      script: SOCDedupComputeWinner
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "18"
      '#none#':
      - "23"
    scriptarguments:
      similar_ids:
        complex:
          root: DBotFindSimilarIncidents
          accessor: similarIncident.id
      current_id:
        simple: ${alert.id}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 7e7ac992-b48f-4c7f-9a9c-023455c595ef
    type: condition
    task:
      id: 7e7ac992-b48f-4c7f-9a9c-023455c595ef
      version: -1
      name: Am I the Winner? (lowest ID = canonical case)
      description: Compares the current alert ID to the computed minimum group ID.
        If equal, this instance is the canonical case — continue the chain. If not
        equal, a lower-ID sibling is canonical — close self cleanly.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "24"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualNumber
          left:
            value:
              simple: alert.id
            iscontext: true
          right:
            value:
              simple: SOCFramework.Dedup.WinnerID
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 797.5,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: 6791cee5-456f-46c5-84f1-ca33a6244faa
    type: regular
    task:
      id: 6791cee5-456f-46c5-84f1-ca33a6244faa
      version: -1
      name: Print Winner Note
      description: Prints text to war room (Markdown supported)
      script: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      value:
        simple: '✅ **Dedup — canonical case** | Alert ${alert.id} is the lowest-ID
          in this duplicate group and will continue processing. Duplicate sibling(s)
          detected: ${DBotFindSimilarIncidents.similarIncident.id} — each will self-close
          as a duplicate of this case.'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 9e710d09-e505-426b-9cce-ade2f6be9ae0
    type: regular
    task:
      id: 9e710d09-e505-426b-9cce-ade2f6be9ae0
      version: -1
      name: Print Self-Close Note
      description: Prints text to war room (Markdown supported)
      script: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      value:
        simple: "\U0001F501 **Dedup — closing self** | Alert ${alert.id} is a duplicate.
          Canonical case is alert ${SOCFramework.Dedup.WinnerID} (lowest ID in group).
          This alert will self-close. No other alerts are modified by this instance."
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 685,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: ed574f23-7596-4af6-b90c-429c257b3402
    type: regular
    task:
      id: ed574f23-7596-4af6-b90c-429c257b3402
      version: -1
      name: Close Self as Duplicate
      description: commands.local.cmd.close.inv
      tags:
      - Auto-Triage
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "18"
      '#none#':
      - "27"
    scriptarguments:
      closeNotes:
        simple: 'Duplicate alert. Canonical case: ${SOCFramework.Dedup.WinnerID} (lowest
          alert ID in duplicate group — deterministic winner selection).'
      closeReason:
        simple: Resolved - Duplicate Alert
      id:
        simple: ${alert.id}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 6210c826-1621-4978-9b9a-d5c7ed316777
    type: regular
    task:
      id: 6210c826-1621-4978-9b9a-d5c7ed316777
      version: -1
      name: Set Dedup Execution Payload
      description: Builds the dedup outcome record for xsiam_socfw_ir_execution_raw.
        winner_id and alert_id together convey the outcome — XQL consumers determine
        canonical vs duplicate by comparing the two fields. Both the winner path and
        self-close path converge here.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: SOCFramework.Dedup.ExecutionPayload
      value:
        simple: '{"event_type":"dedup","lifecycle":"DEDUP","phase":"dedup", "action_actor":"framework", "alert_id":"${alert.id}","incident_id":"${alert.id}",
          "alert_name":"${alert.name}", "alert_category":"${alert.categoryname}",
          "winner_id":"${SOCFramework.Dedup.WinnerID}", "similar_ids":"${DBotFindSimilarIncidents.similarIncident.id}",
          "dedup_window":"${inputs.DedupWindow}"}'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: a2a6a59b-c92a-4aaa-992d-ccae89b08bf4
    type: regular
    task:
      id: a2a6a59b-c92a-4aaa-992d-ccae89b08bf4
      version: -1
      name: Post Dedup Outcome to Execution Dataset
      description: Writes the dedup outcome record to xsiam_socfw_ir_execution_raw
        via the socfw_ir_execution instance. continueonerror true — dataset write
        failure must never stop the chain.
      script: '|||xql-post-to-dataset'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      JSON:
        complex:
          root: SOCFramework.Dedup.ExecutionPayload
          transformers:
          - operator: Stringify
      using:
        simple: socfw_ir_execution
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {
      "19_10_#default#": 0.5,
      "19_8_yes": 0.5,
      "20_21_yes": 0.5
    },
    "paper": {
      "dimensions": {
        "height": 2080,
        "width": 1465,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: DryRun
  value:
    simple: "true"
  required: false
  description: When true, prints duplicate issues that would be closed without executing
    any close actions. Use for smoke testing after deployment.
  playbookInputQuery: null
- key: DedupWindow
  value:
    complex:
      root: lists
      accessor: SOCOptimizationConfig_V3
      transformers:
      - operator: getField
        args:
          field:
            value:
              simple: Dedup
      - operator: getField
        args:
          field:
            value:
              simple: fields
      - operator: getField
        args:
          field:
            value:
              simple: DedupWindow
  required: false
  description: 'How far back to search for similar alerts. Read from SOCOptimizationConfig_V3.
    Default: 1 days ago.'
  playbookInputQuery: null
- key: DedupScoreThreshold
  value:
    complex:
      root: lists
      accessor: SOCOptimizationConfig_V3
      transformers:
      - operator: getField
        args:
          field:
            value:
              simple: Dedup
      - operator: getField
        args:
          field:
            value:
              simple: fields
      - operator: getField
        args:
          field:
            value:
              simple: DedupScoreThreshold
  required: false
  description: 'If parent incident predicted_score is at or above this value, dedup
    is bypassed. Read from SOCOptimizationConfig_V3. Default: 70.'
  playbookInputQuery: null
- key: SimilarTextField
  value:
    complex:
      root: lists
      accessor: SOCOptimizationConfig_V3
      transformers:
      - operator: getField
        args:
          field:
            value:
              simple: Dedup
      - operator: getField
        args:
          field:
            value:
              simple: fields
      - operator: getField
        args:
          field:
            value:
              simple: SimilarTextField
  required: false
  description: 'Comma-separated alert text fields for DBotFindSimilarAlerts. Resolved
    per (lifecycle, product category) by Foundation - Normalize Artifacts when the
    contract carries dedup-tagged rows; otherwise falls back to
    SOCOptimizationConfig_V3.Dedup.fields.SimilarTextField.'
  playbookInputQuery: null
- key: SimilarJsonField
  value:
    complex:
      root: lists
      accessor: SOCOptimizationConfig_V3
      transformers:
      - operator: getField
        args:
          field:
            value:
              simple: Dedup
      - operator: getField
        args:
          field:
            value:
              simple: fields
      - operator: getField
        args:
          field:
            value:
              simple: SimilarJsonField
  required: false
  description: 'Comma-separated alert JSON fields for DBotFindSimilarAlerts. Resolved
    per (lifecycle, product category) by Foundation - Normalize Artifacts when the
    contract carries dedup-tagged rows; otherwise falls back to
    SOCOptimizationConfig_V3.Dedup.fields.SimilarJsonField.'
  playbookInputQuery: null
outputs: []
