Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Artifacts_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Artifacts_V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.3.1
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
name: Foundation - Normalize Artifacts_V3
description: Data-driven Foundation normalizer dispatch. A single SOCNormalizeFromList
  task applies the SOCFrameworkNormalizeMap_V3 contract for the alert's (lifecycle,
  product category) tuple. There are no per-category branches, so adding a category or a
  whole new lifecycle (e.g. posture) is purely additive list rows and never edits this
  playbook. Empty or unrecognized category falls back to the generic section.
tags:
- SOC
- SOC_Framework_Unified
- Analysis
- Foundation
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 87571fef-30de-4eb7-b425-aefb49745ea9
    type: start
    task:
      id: 87571fef-30de-4eb7-b425-aefb49745ea9
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 24b303f7-6c51-44cc-849a-1ebb5c97dd1d
    type: title
    task:
      id: 24b303f7-6c51-44cc-849a-1ebb5c97dd1d
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: f56e7f8f-d9ae-4042-a0e1-9c575880e17c
    type: regular
    task:
      id: f56e7f8f-d9ae-4042-a0e1-9c575880e17c
      version: -1
      name: Normalize from contract
      description: Applies the SOCFrameworkNormalizeMap_V3 contract for this alert's
        (lifecycle, product category) tuple via SOCNormalizeFromList. Category and
        lifecycle are passed dynamically, so adding a new product category or a new
        lifecycle is a list-row change only and never requires editing this playbook.
        Empty or unrecognized category falls back to the generic section in the script.
      script: SOCNormalizeFromList
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    scriptarguments:
      category:
        simple: ${inputs.ProductKey}
      lifecycle:
        simple: ${SOCFramework.lifecycle}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 430}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 700, "width": 400, "x": 0, "y": 50}}}'
inputs:
- key: ProductKey
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: Product category passed straight to SOCNormalizeFromList (case-insensitive).
    Defaults to SOCFramework.Product.category set by Foundation - Product Classification_V3.
    Empty or unrecognized values fall back to the generic contract section.
  playbookInputQuery: null
outputs: []
