Packs/soc-optimization-unified/Playbooks/Foundation_-_Enrichment_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Enrichment_V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.10.2
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
name: Foundation - Enrichment_V3
description: Data-driven Foundation enrichment dispatcher. A single SOCEnrichFromList
  task fires built-in reputation commands (|||ip, |||file, |||domain, |||url, ...)
  per the alert's lifecycle, reading the per-lifecycle SOCFrameworkEnrichmentMap_<LIFECYCLE>
  list. Lane key is both the command and its argument by convention. Adding a new
  lifecycle or a new lane is a list-row change only — never edits this playbook.
  Read-only by definition (reputation lookups); no shadow_mode concept here; no
  dataset writes (Upon Trigger stays lightweight). Heavier multi-vendor enrichment
  lives in Analysis-tier hydration.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Enrichment
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 4b0e7c1a-9c11-4e3b-9e2d-7f3a1c0a8e21
    type: start
    task:
      id: 4b0e7c1a-9c11-4e3b-9e2d-7f3a1c0a8e21
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 7a82d3f1-58e6-4d9e-8b13-c9a4e7e2a4b6
    type: title
    task:
      id: 7a82d3f1-58e6-4d9e-8b13-c9a4e7e2a4b6
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: e1f6c293-31a4-4a52-b78b-65d8b1e1c0d2
    type: regular
    task:
      id: e1f6c293-31a4-4a52-b78b-65d8b1e1c0d2
      version: -1
      name: Enrich from contract
      description: Applies the SOCFrameworkEnrichmentMap_<LIFECYCLE> contract for
        this alert's lifecycle via SOCEnrichFromList. For each lane in the list,
        gathers values from the lane's source paths on SOCFramework.Artifacts.*,
        and fires the built-in reputation command (|||<lane>) if any value is
        non-empty. Adding a new lane or lifecycle is a list-row change only and
        never requires editing this playbook. continueonerror is true — enrichment
        failures never block Upon Trigger.
      script: SOCEnrichFromList
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    scriptarguments:
      lifecycle:
        simple: ${inputs.Lifecycle}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 430}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 700, "width": 400, "x": 0, "y": 50}}}'
inputs:
- key: Lifecycle
  value:
    simple: ${SOCFramework.lifecycle}
  required: false
  description: |
    Lifecycle token (default nist_ir downstream). Selects which
    enrichment list SOCEnrichFromList reads by naming convention:
    SOCFrameworkEnrichmentMap_<LIFECYCLE.upper()>. Defaults to
    SOCFramework.lifecycle set by Foundation - Upon Trigger.
  playbookInputQuery: null
outputs: []
marketplaces:
- marketplacev2
supportedModules:
- X1
- X3
- X5
- ENT_PLUS
- agentix
