Packs/soc-optimization-unified/Playbooks/Foundation_-_Upon_Trigger_V3.yml
fromversion: 5.0.0
id: Foundation - Upon Trigger V3
version: 11
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.7.0
    fromServerVersion: 8.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Upon Trigger V3
tags:
- SOC
- SOC_Framework_Unified
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 5206068f-fdf3-4829-8cc2-c3ada7b5516b
    type: start
    task:
      id: 5206068f-fdf3-4829-8cc2-c3ada7b5516b
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: cd6cbd33-49b9-4c0e-8c76-12c43c541cb5
    type: title
    task:
      id: cd6cbd33-49b9-4c0e-8c76-12c43c541cb5
      version: -1
      name: Environment Detection
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: eaffbc30-3533-483b-80c1-82bdd0e73dd3
    type: title
    task:
      id: eaffbc30-3533-483b-80c1-82bdd0e73dd3
      version: -1
      name: Data Integrity
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "28"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 2b3a538a-4c64-408a-86b2-74cd81484c7f
    type: title
    task:
      id: 2b3a538a-4c64-408a-86b2-74cd81484c7f
      version: -1
      name: Alert Sync (Ledger / Owner Notification)
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "36"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 4bc7c9d9-c8d2-4e49-8f24-1e964e9ad270
    type: title
    task:
      id: 4bc7c9d9-c8d2-4e49-8f24-1e964e9ad270
      version: -1
      name: Dedup
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "35"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1625
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: a4730ca6-80a0-4fb3-80d3-9a2e6e1f964c
    type: title
    task:
      id: a4730ca6-80a0-4fb3-80d3-9a2e6e1f964c
      version: -1
      name: Enrichment (User, IP, Hash, Domain)
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "23"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1270
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 35c54f0f-e1e7-48a9-8aed-57d322ddf9c7
    type: title
    task:
      id: 35c54f0f-e1e7-48a9-8aed-57d322ddf9c7
      version: -1
      name: Assessment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1980
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 76dd4bf8-4839-4846-8cc2-95492ce2721a
    type: title
    task:
      id: 76dd4bf8-4839-4846-8cc2-95492ce2721a
      version: -1
      name: Escalation
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "33"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: d6a23a94-520a-4ff6-8146-c309f064e6ed
    type: title
    task:
      id: d6a23a94-520a-4ff6-8146-c309f064e6ed
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2490
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: db2b5b40-227a-43f3-a1ed-34278b0f6f76
    type: playbook
    task:
      id: db2b5b40-227a-43f3-a1ed-34278b0f6f76
      version: -1
      name: Foundation - Enrichment_V3
      description: |
        Identifies the core fields present and starts tailored enrichment pipelines
        Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
      playbookName: Foundation - Enrichment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      CategoryType:
        complex:
          root: SOCFramework.Product
          accessor: category
          transformers:
          - operator: toLowerCase
      Lifecycle:
        simple: ${SOCFramework.lifecycle}
      Remote_IP:
        simple: ${inputs.Remote_IP}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: f611e5ee-70fb-4913-8ee3-dc6fe456527c
    type: playbook
    task:
      id: f611e5ee-70fb-4913-8ee3-dc6fe456527c
      version: -1
      name: Foundation - Data Integrity_V3
      description: |
        Core fields are evaluated
        Unpopulated core fields refer to alternatives for values
        Field values are evaluated for formatting and syntax
      playbookName: Foundation - Data Integrity_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 50,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 53a0a8d4-f046-4bf1-bd2e-d86e6e5b5cea
    type: title
    task:
      id: 53a0a8d4-f046-4bf1-bd2e-d86e6e5b5cea
      version: -1
      name: Performance Capture
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: 1d4e4498-5b23-4b7f-89ba-646cd8f33034
    type: playbook
    task:
      id: 1d4e4498-5b23-4b7f-89ba-646cd8f33034
      version: -1
      name: Foundation - Dedup_V3
      playbookName: Foundation - Dedup_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      SimilarTextField:
        simple: ${SOCFramework.Dedup.SimilarTextField}
      SimilarJsonField:
        simple: ${SOCFramework.Dedup.SimilarJsonField}
    separatecontext: true
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1795
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: e54011dd-2a92-45fb-b1ab-15d8f422ae5e
    type: title
    task:
      id: e54011dd-2a92-45fb-b1ab-15d8f422ae5e
      version: -1
      name: Normalize
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "37"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: 12dcb2df-c8af-476a-8d4c-34e5cbb505fb
    type: playbook
    task:
      id: 12dcb2df-c8af-476a-8d4c-34e5cbb505fb
      version: -1
      name: Foundation - Normalize Artifacts
      playbookName: Foundation - Normalize Artifacts_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    separatecontext: true
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1085
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2500,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
inputSections:
- inputs: []
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: Foundation - Upon Trigger
quiet: true
dirtyInputs: true
adopted: true
