Packs/soc-optimization-unified/Playbooks/JOB_-_Auto_Triage_V3.yml
adopted: true
fromversion: 5.0.0
id: JOB - Auto Triage V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.7.3
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: JOB - Auto Triage V3
tags:
  - SOC
  - SOC_Framework_Unified
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: dc73a190-a2e4-4e6e-8a57-badb11c62e1b
    type: start
    task:
      id: dc73a190-a2e4-4e6e-8a57-badb11c62e1b
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  "5":
    id: "5"
    taskid: 11786de0-5a13-412d-8a8a-1ab69922d510
    type: condition
    task:
      id: 11786de0-5a13-412d-8a8a-1ab69922d510
      version: -1
      name: Cases to Triage?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
        - "9"
      "yes":
        - "8"
    separatecontext: false
    conditions:
      - label: "yes"
        condition:
          - - operator: isExists
              left:
                value:
                  simple: AutoTriage.filtered_incidents.incident_id
                iscontext: true
              right:
                value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 6ae6dff9-3719-4b2e-8758-d1cf54a24c13
    type: title
    task:
      id: 6ae6dff9-3719-4b2e-8758-d1cf54a24c13
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 481cd8d5-7bca-4923-8cd0-77d48d883e8f
    type: playbook
    task:
      id: 481cd8d5-7bca-4923-8cd0-77d48d883e8f
      version: -1
      name: SOC Close Cases_V3
      playbookName: SOC Close Cases_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "9"
    scriptarguments:
      incident_id:
        simple: ${AutoTriage.filtered_incidents.incident_id}
      resolve_comment:
        simple: 'SOC Framework Auto Triage: case exceeded age threshold, aggregated_score
          below threshold, no analyst activity detected. Auto-closed by JOB.'
    separatecontext: true
    continueonerror: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 500
      forEach: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: ecad854e-0b30-4494-8c61-183d70ee7952
    type: regular
    task:
      id: ecad854e-0b30-4494-8c61-183d70ee7952
      version: -1
      name: Close Job
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 980
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: ba55380b-2e2c-44ef-8fcf-d828bfbfa09a
    type: regular
    task:
      id: ba55380b-2e2c-44ef-8fcf-d828bfbfa09a
      version: -1
      name: Fetch and Filter Cases by Score Threshold
      description: Fetches unstarred new cases via core-api-post in paginated batches
        of 100, sorted by creation_time asc. Skips cases with aggregated_score above
        TriageScoreThreshold. Applies age window filter (TriageWindowHours) and skips
        analyst-touched cases. Stops when eligible cases are found or max_batches
        reached. Passes only eligible cases to the close loop.
      script: SOCAutoTriageScoreFilter
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "5"
    scriptarguments:
      score_threshold:
        complex:
          root: lists
          accessor: SOCOptimizationConfig_V3
          transformers:
            - operator: getField
              args:
                field:
                  value:
                    simple: Triage Incidents JOB
            - operator: getField
              args:
                field:
                  value:
                    simple: fields
            - operator: getField
              args:
                field:
                  value:
                    simple: TriageScoreThreshold
      window_hours:
        complex:
          root: lists
          accessor: SOCOptimizationConfig_V3
          transformers:
            - operator: getField
              args:
                field:
                  value:
                    simple: Triage Incidents JOB
            - operator: getField
              args:
                field:
                  value:
                    simple: fields
            - operator: getField
              args:
                field:
                  value:
                    simple: TriageWindowHours
      max_batches:
        complex:
          root: lists
          accessor: SOCOptimizationConfig_V3
          transformers:
            - operator: getField
              args:
                field:
                  value:
                    simple: Triage Incidents JOB
            - operator: getField
              args:
                field:
                  value:
                    simple: fields
            - operator: getField
              args:
                field:
                  value:
                    simple: TriageMaxBatches
      batch_size:
        complex:
          root: lists
          accessor: SOCOptimizationConfig_V3
          transformers:
            - operator: getField
              args:
                field:
                  value:
                    simple: Triage Incidents JOB
            - operator: getField
              args:
                field:
                  value:
                    simple: fields
            - operator: getField
              args:
                field:
                  value:
                    simple: TriageBatchSize
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {
      "5_9_#default#": 0.82
    },
    "paper": {
      "dimensions": {
        "height": 1170,
        "width": 492.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
