Packs/soc-framework-posture/Playbooks/SOC_Identify.yml
# SOC_Identify
# Identify phase for the Posture lifecycle — PRODUCT-CATEGORY ROUTER.
# Mirrors the NIST IR phase pattern (SOC Analysis_V3):
#   start -> Product Category switch (on SOCFramework.Product.category)
#         -> per-category Execution Branch gate (reads SOCExecutionList_POSTURE)
#         -> per-category Workflow playbook -> Done
# Category identifiers match the contract lists: posture_misconfig /
# posture_compliance / posture_drift.

adopted: true
id: SOC_Identify
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-posture
    packName: SOC Framework Posture Lifecycle
    itemVersion: 1.0.0
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: SOC_Identify
description: |-
  Identify phase (NIST SP 800-40 Rev 4). Routes on product category
  (SOCFramework.Product.category) to the per-category Workflow playbook,
  gated by SOCExecutionList_POSTURE execute_branch. Discovery/acknowledge
  phase — no vendor actions (those live in Execute/Verify).
tags:
- SOC
- SOC_Framework_Unified
- Posture
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: soc-identify-start
    type: start
    task:
      id: soc-identify-start
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {"position": {"x": 450, "y": 50}}
  "1":
    id: "1"
    taskid: soc-identify-category
    type: condition
    task:
      id: soc-identify-category
      version: -1
      name: Product Category
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      posture_misconfig:
      - "2"
      posture_compliance:
      - "4"
      posture_drift:
      - "6"
    separatecontext: false
    conditions:
    - label: posture_misconfig
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: posture_misconfig
    - label: posture_compliance
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: posture_compliance
    - label: posture_drift
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: posture_drift
    view: |-
      {"position": {"x": 450, "y": 200}}
  "2":
    id: "2"
    taskid: soc-identify-branch-misconfig
    type: condition
    task:
      id: soc-identify-branch-misconfig
      version: -1
      name: Misconfig Execution Branch
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      Run:
      - "3"
    separatecontext: false
    conditions:
    - label: Run
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC_Misconfig_Identify
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    view: |-
      {"position": {"x": 150, "y": 360}}
  "3":
    id: "3"
    taskid: soc-identify-wf-misconfig
    type: playbook
    task:
      id: soc-identify-wf-misconfig
      version: -1
      name: SOC_Misconfig_Identify
      playbookName: SOC_Misconfig_Identify
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    view: |-
      {"position": {"x": 150, "y": 520}}
  "4":
    id: "4"
    taskid: soc-identify-branch-compliance
    type: condition
    task:
      id: soc-identify-branch-compliance
      version: -1
      name: Compliance Execution Branch
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      Run:
      - "5"
    separatecontext: false
    conditions:
    - label: Run
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC_Compliance_Identify
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    view: |-
      {"position": {"x": 450, "y": 360}}
  "5":
    id: "5"
    taskid: soc-identify-wf-compliance
    type: playbook
    task:
      id: soc-identify-wf-compliance
      version: -1
      name: SOC_Compliance_Identify
      playbookName: SOC_Compliance_Identify
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    view: |-
      {"position": {"x": 450, "y": 520}}
  "6":
    id: "6"
    taskid: soc-identify-branch-drift
    type: condition
    task:
      id: soc-identify-branch-drift
      version: -1
      name: Drift Execution Branch
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      Run:
      - "7"
    separatecontext: false
    conditions:
    - label: Run
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC_Drift_Identify
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    view: |-
      {"position": {"x": 750, "y": 360}}
  "7":
    id: "7"
    taskid: soc-identify-wf-drift
    type: playbook
    task:
      id: soc-identify-wf-drift
      version: -1
      name: SOC_Drift_Identify
      playbookName: SOC_Drift_Identify
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    view: |-
      {"position": {"x": 750, "y": 520}}
  "8":
    id: "8"
    taskid: soc-identify-done
    type: title
    task:
      id: soc-identify-done
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {"position": {"x": 450, "y": 700}}
view: |-
  {"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 720, "width": 980, "x": 140, "y": 40}}}
inputs:
- key: ExecutionBranch
  value:
    simple: ${lists.SOCExecutionList_POSTURE}
  required: false
  description: Branch-routing list (execute_branch per Workflow playbook).
  playbookInputQuery: null
- key: ProductCategory
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: Routed posture product category.
  playbookInputQuery: null
outputs:
- contextPath: Identify.finding_acknowledged
  type: unknown
- contextPath: Identify.classification
  type: unknown
- contextPath: Identify.first_detected_at
  type: unknown
- contextPath: Identify.detection_source
  type: unknown
- contextPath: Identify.exploitability_assessment
  type: unknown
- contextPath: Identify.story
  type: unknown
- contextPath: Identify.misconfig_summary
  type: unknown
- contextPath: Identify.compliance_summary
  type: unknown
- contextPath: Identify.failed_control_id
  type: unknown
- contextPath: Identify.drift_summary
  type: unknown
- contextPath: Identify.iac_commit_sha_observed
  type: unknown
fromversion: 5.0.0
marketplaces:
- marketplacev2
system: true
